:root {
  /* -- COLORS */
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #aaa;
  --color-gray-light: #ccc;
  --color-gray-lightest: #eee;
  --color-blue: #61a0ff;
  --color-blue-hue: 216;
  --color-blue-sat: 100%;
  --color-blue-lum: 69%;
  --color-yellow: #ffc93d;

  /* -- SIZES */
  --base-font-size: 16px;
  --container-width-max: 60rem;
  --block-padding: 2.5rem;
  --header-height: 128px;

  /* -- THEME: LIGHT */
  --page-background-color: var(--white);
  --text-color-body: var(--black);
  --text-color-secondary: var(--color-gray);
  --divider-color: var(--color-gray-lightest);

  --form-field-border-color: var(--color-gray-light);
  --form-field-text-color: var(--color-gray);

  --button-text-color: var(--color-white);
  --button-color-hsl-base: hsl(
    var(--color-blue-hue) var(--color-blue-sat) var(--color-blue-lum)
  );
  --button-color-hsl-light: hsl(
    var(--color-blue-hue) var(--color-blue-sat)
      calc(var(--color-blue-lum) + 10%)
  );
  --button-color-hsl-dark: hsl(
    var(--color-blue-hue) var(--color-blue-sat)
      calc(var(--color-blue-lum) - 20%)
  );
  --button-shadow-color-1: hsl(
    var(--color-blue-hue) var(--color-blue-sat) var(--color-blue-lum) / 50%
  );
  --button-shadow-color-2: hsl(
    var(--color-blue-hue) var(--color-blue-sat) var(--color-blue-lum) / 25%
  );

  --avatar-background-color: var(--color-blue);
  --avatar-text-color: var(--color-white);

  --star-unfilled-color: var(--color-gray-light);
  --star-filled-color: var(--color-yellow);
}

/* decrease sizes on small screens */
@media screen and (max-width: 480px) {
  :root {
    --base-font-size: 13px;
    --block-padding: 1rem;
  }
}
