.star-rating {
  display: flex;
}

.star-rating svg {
  width: var(--star-size);
  margin-inline-start: 0.125em;
}

.star-rating button {
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
}

.star-rating button:active {
  scale: 0.9;
}
