.add-movie-form {
  font-size: var(--form-font-size);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-movie-form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.add-movie-form label {
  flex-shrink: 0;
  width: 7ch;
  font-weight: 500;
}

.add-movie-form .control {
  flex-grow: 1;
  min-width: 0;
}
