.add-movie-form {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-movie-form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.add-movie-form label {
  width: 7ch;
  font-weight: 500;
}

.add-movie-form .control {
  flex-grow: 1;
}
